@model List<Vegtable>
@{
    Layout = "_ListLayout";
}


<div class="col-lg-3"></div>
<div class="col-lg-6">
    <h2>Your Vegtables</h2>

    <table class="table table-striped table-bordered table-condensed">
        @foreach (var v in Model)
        {
            <tr>
                <td class="">@v.VegName
                    <form asp-action="DeleteVeg" method="post" class="pull-right">
                        <a asp-action="EditVeg" class="btn btn-sm btn-success" asp-route-vegId="@v.VegId">Edit</a>
                        <input class="pull-right" type="hidden" name="VegId" value="@v.VegId" />
                        <button type="submit" class="btn btn-defualt btn-sm pull-right">Delete</button>                                           
                    </form>
                </td>
                <td>
                    <table class="table table-striped table-bordered table-condensed">
                    @if (v.Varietys.Count() > 0)
                    {
                        @foreach (var y in v.Varietys)
                        {
                            @:<tr><td class="">@y.VarietyName
                                <form asp-action="DeleteVar" method="post" class="pull-right">
                                    <a asp-action="EditVar" class="btn btn-sm btn-success" asp-route-varId="@y.VarietyId">Edit</a>
                                    <input  type="hidden" name="VegId" value="@y.VarietyId" />
                                    <button type="submit" class="btn btn-defualt btn-sm pull-right">Delete</button>
                                </form>
                            @:</td></tr>

                        }

                    }
                    </table>
                </td>
            </tr>
        }
        </table>
        
    </div>

<div class="col-lg-3"></div>



